DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:55432/kaldet_insaat?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-minimum-32-characters"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_NAME="KalDet İnşaat"
